body {
    display: grid;
    grid-template-rows: 100px 350px 1fr 300px;
    grid-template-columns: 30% 70%;
    grid-template-areas:
    "header header"
    "top top"
    "aside main"
    "footer footer"
}


header {
    grid-area: header;
    display:flex;
    justify-content: space-between;
    background-color: yellowgreen;
}

header a {
    text-decoration: none;
}

.topBtn{
    color: #FFF;
    font-size: 50px;
    font-family:'Noteworthy',sans-serif;
    margin-left: 40px;
}
 
.topLinks{
    margin-left:400px;
    margin-top: 30px;
 
}
 
.topLinks a{
    color: #FFF;
    margin-left: 40px;
    font-size: 20px;
}

/* headerここまで */

/* topここから */

.top {
    grid-area: top;
    background-image: url("../images/hitchhike.top.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.search-tab {
    display: flex;
    justify-content: center;
    margin-top: 230px;
}

.search-tab input {
    font-size: 25px;
    margin-right: 30px;
    border: 3px solid #99FF00;
    border-radius: 10px;
    opacity: 0.5
}

.search-tab input:focus {
    opacity: 1;
}

.search-tab button {
    font-size: 25px;
    border-radius: 10px;
    margin-left: 35px;
    opacity: 0.7;
}

.shere-btn {
    color: #FFA500;
    border: 3px solid #FFA500;
}

.request-btn {
    color: #005FFF;
    border: 3px solid #005FFF;
}

.shere-btn:hover {
    color: #FFF;
    background-color: #FFA500;
    opacity: 1;
}

.request-btn:hover {
    color: #FFF;
    background-color: #005FFF;
    opacity: 1;

}

/* topここまで */

/* asideここから */

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

aside label {
    margin-bottom: 50px;
    color: #003366;
    font-style: italic;
}

.date, .time, .people, .car, .like, .purpose {
    display: none;
}

.people-input {
    width: 30px;
}

.car, .like, .purpose {
    line-height: 30px;
}

/* asideここまで */

/* ここからmain */

main {
    grid-area: main;
    padding: 10px;
}

.example {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
}

.driverA, .driverB, .driverC, .driverD, .driverE{
    position: relative;
    right: -100%;
}

.example:hover {
    background-color: #FFC7AF;
    border: 3px solid red;
}

.example li {
    font-size: 20px;
    margin-bottom: 25px;
}

.example p {
    font-size: 20px;
    margin: 15px 0;
}

.name {
    width: 20%;
}

.name i {
    font-size: 50px;
    margin-bottom: 20px;
}

.male {
    color: #0066FF;
}

.female {
    color: #FF1A6F;
}

.name p {
    font-size: 25px;
    margin-bottom: 15px;
}

.info {
    width: 25%
}

.price {
    width: 25%;   
}

.price li {
    line-height: 35px;
}

.price span {
    color: red;
}

/* mainここまで */

/* footerここから */

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    color: #FFF;
    background-color: #708090
}

.link {
    display: flex;
    flex-direction: column;
}

footer h2 {
    font-weight: bold;
    margin: 25px 0;
}

footer a {
    color: #FFF;
    margin-bottom: 15px;
}

.icons i {
    margin: 25px 20px;
}

/* footerここまで */

.arrow {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: none;
    border-radius: 30px;
  }